*{
   margin: 0;
   padding: 0;
}
/* fondo de la pag */
body{
    width: 100vw;
    height: 100vh;
    background-image: url(fondo-mapa.jpg);
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

main{
    width: 100%;
    height: 100%;
    text-align: center;
}

li{
    list-style: none;
}

/* titulos */
h1{
    font-size: 50px;
    color: rgb(190, 50, 50);
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 30px;
    color: rgb(77, 189, 226);
    font-family: 'Lobster', cursive;
}

/* propiedades al logotipo */
.imag{
    width: 100px;
    height: 100px;
}

.imag img{
    width: 100%;
    height: auto;
}

article{
    margin-bottom: 20px;
    padding: 20px;
}

/* flexbox */
header{
    display: flex;
    justify-content:center;
}

footer{
    display: flex;
    justify-content: center;
}

form ul li{
    display:inline-block;
    margin-right: 20px;
    padding: 30px;
}

/* ultimo li del ul */
form ul li:last-child{
    margin-right: 0px;
}






